/* VARIABLES AND RESETS */
/* STYLES ADAPTED FROM https://github.com/rajshekhar26/cleanfolio/blob/main/src/index.css */
:root {
    --clr-bg: #fcfcfc;
    --clr-bg-alt: #fff;
    --clr-fg: #555;
    --clr-fg-alt: #444;
    --clr-primary: #2978b5;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    box-shadow: none;
    box-sizing: border-box;
}
  
html {
  scroll-behavior: smooth;
}


/* FONTS */

/* roboto-slab-200 - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('./fonts/roboto-slab-v24-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-slab-v24-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-slab-regular - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/roboto-slab-v24-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-slab-v24-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-slab-500 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('./fonts/roboto-slab-v24-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-slab-v24-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-slab-800 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('./fonts/roboto-slab-v24-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-slab-v24-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  
  /* FONTS, FONTS COLOR, BACKGROUND, LINE HEIGHT */
  /* STYLES ADAPTED FROM https://github.com/rajshekhar26/cleanfolio/blob/main/src/index.css */
  
  body {
    font-family: 'Roboto Slab', sans-serif;
    line-height: 1.5;
    color: var(--clr-fg);
    background-color: var(--clr-bg);
  }
  
  
  /* FONT SIZE */
  
  h1,h2,h3,h4 {
    line-height: 1.2;
    color: var(--clr-fg-alt);
  }
  
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1.3rem;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
  
  
  /* LAYOUT */
  /* STYLES ADAPTED FROM https://github.com/rajshekhar26/cleanfolio/blob/main/src/index.css */
  
  main {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    display: flex;
    align-items: center;
  }
  
  
  /* LINKS AND BUTTONS */
  /* STYLES ADAPTED FROM https://github.com/rajshekhar26/cleanfolio/blob/main/src/index.css */
  
  .link {
    display: block;
    color: var(--clr-primary);
    padding: 0 0 0.3em 0;
    position: relative;
  }
  
  .link:hover {
    color: var(--clr-primary);
  }
  
  .link::before {
    content: '';
    display: block;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color: var(--clr-primary);
    transition: all 0.2s ease-in;
  }
  
  .link:hover::before,
  .link:focus::before {
    width: 100%;
  }
  
  .link--nav {
    color: var(--clr-fg);
    text-transform: lowercase;
    font-weight: 800;
  }
  
  .link--icon {
    color: var(--clr-fg);
  }
  
  .btn {
    display: block;
    cursor: pointer;
    padding: 0.8em 1.4em;
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: lowercase;
    transition: transform 0.2s ease-in-out;
  }
  
  .btn--outline {
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 0.6rem;
  }
  
  .btn--outline:hover,
  .btn--outline:focus {
    color: var(--clr-bg);
  }
  
  .btn--outline:before {
    content: '';
    position: absolute;
    background-color: var(--clr-primary);
    right: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: right 0.2s ease-in-out;
  }
  
  .btn--outline:hover:before,
  .btn--outline:focus:before {
    right: 0;
  }
  
  .btn--plain {
    text-transform: initial;
    background-color: var(--clr-bg-alt);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border: 0;
  }
  
  .btn--plain:hover {
    transform: translateY(-4px);
  }
  
  .btn--icon {
    padding: 0;
  }
  
  .btn--icon:hover,
  .btn--icon:focus {
    color: var(--clr-primary);
  }
  
  .btn--icon:active {
    transform: translateY(-5px);
  }


/* PROJECT PAGE SPECIFIC STYLES */
.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.summary {
    margin-top: 2rem;
    font-weight: lighter;
}

.project-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#overview {
    width: 30%;
}

#overview h3 {
    font-weight: 400;
}

.overview-card {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 4em 4em 0;
    padding: 0 1em;
    box-shadow: var(--shadow);
}

.overview-card-item {
    width: 20%;
    margin: 1.5em 1em;
}

.overview-card-item h3 {
    margin-bottom: 0.6em;
    font-weight: 500;
    color: var(--clr-primary);
}

.overview-card-item p {
    margin: 0;
    font-size: 0.8rem;
}

.bg-light {
    background-color: var(--clr-bg-alt);
}

.bg-emphasis {
    background-color: var(--clr-fg-alt);
    color: var(--clr-bg);
}

.project-section {
    max-width: 1000px;
    width: 95%;
    margin-top: 4em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.project-section p {
    margin-top: 1.5em;
}

.img-container {
    display: flex;
    justify-content: center;
}

.text-emphasis {
    font-weight: 500;
    word-spacing: 0.25rem;
    text-shadow: 2px 2px 4px var(--clr-primary);
}

.text-emphasis::after {
    content: " "
}

.project-section-title {
    width: 100%;
    text-align: left;
}

.text-bold {
    font-weight: 700;
}

.text-list {
    margin-top: 1em;
    margin-left: 2em;
    list-style-type: square;
}

.in-text-link {
    color: var(--clr-primary);
    text-decoration: underline solid var(--clr-primary) 0.1rem;
}

.img-container img{
    width: 50%;
    margin: 2em;
}

.full-width-img {
    margin: 3em 0;
    width: 100vw;
    mix-blend-mode: multiply;
}

.subtitle-1 {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--clr-primary);
}